
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/

table {
	width: 100%;
	text-align: center;
	border-collapse: separate;
}

td {
	vertical-align: center;
	width: 50%;
	padding: 20px;
}


/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.contact {
  width: 50%;
  min-height: 100%;
  font-family: Montserrat;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  margin: auto;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact {
  width: 100%;
  background: rgb(255,255,255);
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.8;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 70px 70px 70px 70px;
}


/*------------------------------------------------------------------
[  ]*/

.contact-title {
	width: 100%;
	display: block;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 50px;
	color: #333333;
	line-height: 1.2;
	padding-bottom: 44px;
	text-align: center;
}

.contact-pic {
	width: 40px;
	height: 40px;
}