.ed_title {
	background: #999;
	width: 100%;
	height: 70px;
	margin-left: 25%;
	border-radius: 20px;
	box-shadow: 5px 5px 3px black;
}

.ed_title h3 {
	font-family: sans-serif;
	font-size: 40px;
	text-align: center;
	padding: 15px;
}

.ed_form {
	margin-top: 30px;
	margin-bottom: 70px;
}

.edit_table {
	width: 100%;
	margin-left: 25%;
	border-bottom: 3px solid #e6e6e6;
}

.edit_table td {
	width: 70%;
}

.edit_table tr:nth-child(2n+1) {
	background-color: #e6e6e6;
}

.ed_input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	border: none;
}

.ed_bg{
	background-color: #e6e6e6;
}

.ed_sp {
	font-size: 15px;
	margin-left: 10px;
	line-height: 50px;
}

.ed_btn {
	width: 100px;
	height: 40px;
	margin-top: 20px;
	margin-left: 270px;
	background-color: #ccc;
	border-radius: 10px;
}

.ed_btn:hover {
	background-color: #999;
	color: white;
}
