.brands-area {
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  color: #fff;
  padding: 20px 0 20px;
}

.promo-area .zigzag-bottom, .brands-area .zigzag-bottom{background: #f4f4f4}

.product-big-title-area {
    background: url(../img/crossword.png) repeat scroll 0 0 #5a88ca;
    margin-top: 20px;
}

.product-bit-title h2 {
  font-family: raleway;
  font-size: 50px;
  font-weight: 200px;
  margin: 0;
  padding: 50px 0;
  color: #fff;
}

.popular-phone {
    width: 100%;
}

.popular-phone table {
    margin: auto;
}

.latest-product .owl-nav div:hover, .brand-wrapper .owl-nav div:hover, .related-products-wrapper .owl-nav div:hover {color: #FFF; background:#f95f5f;}

.brand-list {padding-top: 40px;}

.brand-list .owl-nav {
  position: absolute;
  right: 0;
  top: 0;
}
.brand-wrapper .owl-nav div {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
}

.brand-wrapper .owl-nav div {
  background:#fa8072;
  color:#FFF;
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
}

/*--*/

.brand-container {
  margin-top: 50px;
}

.brand-container img {
  width: 200px;
  height: 100px;
}
